html,
body {
    background-color: transparent;
    color: #fff;
    height: 100%;
    width: 100%;
}

body {
    font-family: Inter, Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
}
